@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    background-color: #cccbcb;
    padding: 1rem;
}
.navbar .navbar-navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar-navigation .empresa a {
    font-size: 1.4rem;
    color: #242424;
    font-weight: 700;
}

.navbar-navigation ul li {
    display: inline-block;
    padding: 1rem;
}

.navbar-navigation ul li a {
    padding: 0.5rem;
    color: #000;
    font-size: 0.950rem;
    font-weight: 500;
}

/* HOVER */
.navbar-navigation ul li:hover {
    transform: scale(1.1);
}

.content {
    margin-top: 2rem;
}

.content .about {
    margin-left: 2rem;
}

.about h1 {
    font-size: 1rem;
    font-weight: 700;
}

.about p {
    font-size: 0.960rem;
    text-align: justify;
}

.plans {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 80vw;
    margin: auto;
}

.plans h1 {
    font-size: 1rem;
}

.plans p {
    font-size: 0.950rem;
    text-align: justify;
    margin: 0.625rem 0 0.625rem 0;
}

.plans button {
    text-decoration: none;
    text-transform: none;
    color: rgb(25, 88, 172);
    cursor: pointer;
    background-color: transparent;
    border: none;
    border: 1px solid #000;
    border-radius: 0.9rem;
    padding: 0.5rem;
    width: 103px;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
}

.plans button:hover {
    transform: rotate(5deg);
    background-color: #571515;
    color: #fff;
    border: none;
}

.plans .plan1 {
    padding: 0.5rem;
    background-color: rgb(163, 126, 197);
    width: 50vw;
    border-radius: 1rem;
    margin: 2rem;
}

.plans .plan2 {
    padding: 0.5rem;
    background-color: rgb(145, 194, 214);
    width: 50vw;
    border-radius: 1rem;
    margin: 2rem;
}

.plans .plan3 {
    padding: 0.5rem;
    background-color: rgb(156, 245, 190);
    width: 50vw;
    border-radius: 1rem;
    margin: 2rem;
}